.es-btn {
  border-radius: 6px;
  border: 0;
  padding: 7px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  background: transparent;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 1px 4px rgba(38, 50, 56, 0.3);
  display: inline-block;

  //&.es-btn--icon {
  //  padding: 7px 24px 7px 7px;
  //}

  &:focus {
    outline: 0;
    box-shadow: none;
  }

  .es-icon {
    margin-right: 5px;
    vertical-align: middle;
  }

  .es-icon_upload {
    font-size: 16px;
  }

  &.es-btn--large {
    padding: 12px 24px;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &.es-btn--small {
    padding: 6px 8px;
    font-size: 12px;
    height: 30px;
  }

  &.es-btn--primary {
    background: #FFB300;
  }

  &.es-btn--secondary {
    background: #03A9F4;
  }

  &.es-btn--third {
    background: #263238;
  }

  &.es-btn--link {
    box-shadow: none;
    color: #B0BEC5;
    text-decoration: underline;
  }

  &[disabled] {
    background: #CFD8DC;
    box-shadow: none;
    cursor: not-allowed;
  }
}
