.es-field {

  input {
    border: 1px solid #CFD8DC;
    color: #263238;
    box-shadow: none;
    font-size: 14px;
    border-radius: 6px;
    font-weight: normal;

    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }

    .select2 {
        .select2-selection {
            border: 1px solid #CFD8DC;
        }

        .select2-selection__arrow {
            background-image: url(../images/dropdown-arrow.svg);
            background-repeat: no-repeat;
            background-size: 17.41px 10.12px;
            background-position: center;
            padding-left: 19px;
            padding-right: 19px;
        }

        .select2-selection__arrow b {
            display: none;
        }
    }

  /**
   * RADIO AND CHECKBOX INPUTS.
   */
  input[type=radio], input[type=checkbox] {
    width: 20px;
    height: 20px;
    border: 1px solid #CFD8DC;
    display: inline-block;
    position: relative;

    & + label {
      display: inline-block;
    }

    &[type=radio] {
      border-radius: 50%;
    }

    &[type=checkbox] {
      border-radius: 4px;
    }

    &:checked {
      background: #69C200;
      border: 1px solid #69C200;

      &:before {
        content: '';
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0 1px 4px rgba(38, 50, 56, 0.3);
        width: 8px;
        height: 8px;
        top: 5px;
        left: 5px;
        margin: 0;
        padding: 0;
        line-height: 0;
      }

      &[type=checkbox]:before {
        border-radius: 2px;
      }

      &[type=radio]:before {
        border-radius: 50%;
      }
    }
  }

  // Incrementer field.
  &.es-field--incrementer {
    .es-incrementer-field {
      display: flex;

      button {
        border: 2px solid #ECEFF1;
        display: inline-block;
        flex: 1 0 40px;
        width: 100%;
        max-width: 40px;
        height: 40px;
        box-sizing: border-box;
        border-radius: 6px;
        font-size: 30px;
        font-weight: 300;
        vertical-align: top;

        &:focus {
          box-shadow: none;
          outline: 0;
        }

        &:hover {
          border: 2px solid #E1F5FE;
          box-shadow: none;
          outline: 0;
          color: #03A9F4;
        }
      }

      input[type=number].es-field__input {
        display: inline-block;
        flex: 1;
        max-width: 80px;
        margin: 0 8px;
        vertical-align: top;
      }
    }
  }
}

.es-files-list {

  &, li {
    padding: 0;
    margin: 0;
  }

  .es-icon_pencil {
    display: none;
    margin-left: 5px;
  }

  .es-icon_paperclip {
    font-size: 20px;
    color: #B0BEC5;
    margin-right: 15px;
  }

  .es-file {
    width: 100%;
    background: #ECEFF1;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      .es-icon_pencil {
        display: inline-block;
      }
    }
  }

  .es-file__name {
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #37474F;
  }

  .es-file__caption {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #37474F;

    &.no-caption {
      color: #B0BEC5;
    }
  }

  .es-file-size {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #B0BEC5;
    margin-right: 15px;
    margin-left: auto;
  }

  .es-delete-file {
    text-decoration: none;
    font-size: 16px;
    color: #37474F;
  }
}

.es-images-list {
  $image-size: 104px;
  margin: 0 -12px;

  .es-file__caption-container {
    margin-top: 5px;
  }

  &, li {
    padding: 0;
  }

  .es-icon_pencil {
    display: none;
    margin-left: 5px;
  }

  .es-file__caption {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #37474F;
    margin-top: 5px;

    &.no-caption {
      color: #B0BEC5;
    }
  }

  .es-image-item {
    position: relative;
    width: $image-size;
    display: inline-block;
    vertical-align: top;
    margin: 12px;

    .es-image-item__background {
      width: 100%;
      height: $image-size;
      position: relative;
    }

    .es-image-delete, .es-icon_arrows-hv {
      position: absolute;
      color: #37474F;
      background: #fff;
      display: none;
      z-index: 3;
      font-size: 16px;
      text-decoration: none;
    }

    .es-image-delete {
      right: 4px;
      top: 4px;

      .es-icon {
        display: block;
      }
    }

    .es-icon_arrows-hv {
      top: $image-size / 2 - 8px;
      left: $image-size / 2 - 8px;
    }

    &:hover {

      .es-icon_pencil {
        display: inline-block;
      }

      .es-overlay {
        display: block;
      }

      .es-image-delete, .es-icon_arrows-hv {
        display: inline-block;
      }
    }
  }
}

.es-file__caption-container {
  .es-file__caption-field {
    display: none !important;
  }

  a {
    text-decoration: none !important;
  }

  &.es-file__caption--edit {
    .es-file__caption-field {
      display: block !important;
    }

    .es-file__caption {
      display: none;
    }
  }
}
