.es-left {
  text-align: left;
}

.es-right {
  text-align: right;
}

.es-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.es-justify {
  text-align: justify;
}

.es-hidden-sm {
  display: none;
}

// grid

$gutter: 7%;
$width: (100%-$gutter);
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px

.es-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $breakpoint-small) {
    width: 80%;
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 75%;
    max-width: 60rem;
  }
}

.es-row {
  position: relative;
  width: (100%+$gutter);
  margin-top: 0;
  margin-bottom: 0;
  margin-right: -($gutter/2);
  margin-left: -($gutter/2);
}

.es-row [class^="es-col"] {
  float: left;
  margin: 0 ($gutter/2);
}

.es-row::after {
  content: "";
  display: table;
  clear: both;
}

.es-col-1,
.es-col-2,
.es-col-3,
.es-col-4,
.es-col-5,
.es-col-6,
.es-col-7,
.es-col-8,
.es-col-9,
.es-col-10,
.es-col-11,
.es-col-12 {
  width: $width;
}

.es-col-1-sm { width:($width / 12) - ($gutter * 11 / 12); }
.es-col-2-sm { width: ($width / 6) - ($gutter * 10 / 12); }
.es-col-3-sm { width: ($width / 4) - ($gutter * 9 / 12); }
.es-col-4-sm { width: ($width / 3) - ($gutter * 8 / 12); }
.es-col-5-sm { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
.es-col-6-sm { width: ($width / 2) - ($gutter * 6 / 12); }
.es-col-7-sm { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
.es-col-8-sm { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
.es-col-9-sm { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
.es-col-10-sm { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
.es-col-11-sm { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
.es-col-12-sm { width: $width; }

@media only screen and (min-width: $breakpoint-med) {
  .es-col-1 { width:($width / 12) - ($gutter * 11 / 12); }
  .es-col-2 { width: ($width / 6) - ($gutter * 10 / 12); }
  .es-col-3 { width: ($width / 4) - ($gutter * 9 / 12); }
  .es-col-4 { width: ($width / 3) - ($gutter * 8 / 12); }
  .es-col-5 { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
  .es-col-6 { width: ($width / 2) - ($gutter * 6 / 12); }
  .es-col-7 { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
  .es-col-8 { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
  .es-col-9 { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
  .es-col-10 { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
  .es-col-11 { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
  .es-col-12 { width: $width; }

  .hidden-sm {
    display: block;
  }
}
